<h3>All Bugs</h3>

@code {
    [Inject]
    public IBugService BugService { get; set; }
    
    public List<Bug> Bugs { get; set; }

    protected override void OnInitialized()
    {
        Bugs = new List<Bug>(BugService.GetBugs().OrderBy(x => x.Priority));
    }
}
